<!-- Base de la página principal del catálogo -->

{% extends "home/comcruzBase.html" %}

{% block head %}
    {% include "home/comcruzHead.html" with head_addon=head_addons|safe %}
{% endblock %}

{% block header %}
    {% include "./catalogoHeader.html" %}
{% endblock %}

{% block main %}
    {% include "./catalogoMain.html" %}
{% endblock %}on precio y URL del producto

{% block footer %}
    {% include "home/comcruzFooter.html" %}
{% endblock %}

{% block scripts %}
    {% include "home/comcruzScripts.html" %}
{% endblock %}